<section class="features-grid-section">
 <div class="section-title">
 <h2>Have a <span class="text-red">FitBerry</span> for</h2>
 </div>
<div class="features-grid">
 <div class="feature-item">
 <img src="assets/image5.png" alt="Salad bowl">
 <div class="feature-text">
 <h3>Find a diet you love</h3>
 <p>Find a nutritious diet that fits your lifestyle and food preferences. Take charge of your daily habits.</p>
 </div>
 </div>
 <div class="feature-item">
 <img src="assets/image8.png" alt="Fruit bowl">
 <div class="feature-text">
 <h3>Start a simplified meal plan</h3>
 <p>Follow a 7-21 day Meal Plan and get four pre-planned recipes a day, from Keto Burn to Vegan.</p>
 </div>
 </div>
 <div class="feature-item">
 <img src="assets/image6.png" alt="Healthy juices">
<div class="feature-text">
 <h3>Track your way to success</h3>
 <p>Track your activities and what you eat with the help of our food, exercise, and water trackers.</p>
 </div>
 </div>
 <div class="feature-item">
 <img src="assets/image7.png" alt="Healthy smoothies">
 <div class="feature-text">
 <h3>Start your own healthy journey</h3>
 <p>To help you reach your goals and customize your health journey, you can add your favorite meals.</p>
CHI </div>
 </div>
 </div>
</section>