<section class="what-is-section">
<div class="what-is-content">
 <div class="what-is-image">
 <img src="assets/image9.png" alt="Graphs on desktop, tablet, and phone">
 </div>
 <div class="what-is-list">
 <h2>What is a <span class="text-red">FitBerry</span> for you?</h2>
 <ul>
 <li>Diet tracker</li>
 <li>Best nutrition advice</li>
 <li>Exercise portal</li>
 <li>Meal planner</li>
 <li>Recipes database</li>
 <li>One stop shop for nutritions</li>
 <li>Community</li>
 </ul>
 </div>
 </div>
</section>