<div class="accueil-wrapper">
 <app-navbar></app-navbar>

 <app-hero-section></app-hero-section>
 <app-benefits-section></app-benefits-section>
 <app-features-grid-section></app-features-grid-section>
 <app-help-cta-section></app-help-cta-section>
 <app-what-is-section></app-what-is-section>
 <app-nutritionist-section></app-nutritionist-section>
 <app-stories-section></app-stories-section>
 <app-cta-banner-section></app-cta-banner-section>
 <app-cost-banner-section></app-cost-banner-section>
 

 <app-footer></app-footer>
</div>